* {
  background-image: url("https://images.pexels.com/photos/1341279/pexels-photo-1341279.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  color: white;
}

.card-container {
  background: transparent;
  width: 70%;
  height: 300px;
  margin: auto;
  margin-top: 200px;
  border: 1px yellowgreen solid;
  border-left: none;
  border-right: none;
  border-radius: 1%;
  padding: 45px;
}

.card-container p {
  background: transparent;
  font-family: 'Aboreto', cursive;
}

.card-container h4 {
  background: transparent;
  font-size: 25px;
}

.card-container .quote {
  background: transparent;
  height: 50%;
}

div {
  background: transparent;
}

.card-container .author-container {
  height: 40%;
}

.author-container {
  background: transparent;
  padding: 0 30px;
}

.button-container {
  background: transparent;
  cursor: none;
  display: flex;
  width: 100%;
}

button .change-button {
  cursor: pointer;
}

.button-container svg:hover {
  border-radius: 100%;
  fill: yellowgreen;
}


div .button-container {
  border: none;
  background-color: transparent;
  padding: 5px;
  justify-content: end;
}