/* * {
  background-image: url("https://images.unsplash.com/photo-1444723121867-7a241cacace9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
} */

P-* {
  display: flex;
  justify-content: center;
}

.card-container {
  width: 50%;
  margin: auto;
  margin-top: 200px;
  border: 2px yellowgreen solid;
  border-radius: 1%;
  padding: 40px;
}

.button-container {
  display: flex;
}

.change-button {
  cursor: pointer;
  justify-content: flex-end;
}